{% extends "base.html" %}

{% load  static %} 

{% block content %}

<div class="off-canvas-wrapper">
  <div class="off-canvas-wrapper-inner" data-off-canvas-wrapper>

    <div class="off-canvas position-left reveal-for-large" id="my-info" data-off-canvas data-position="left" style="background-color: #424242;">
      <div class="row column">
        <a href="" style="text-align: center; padding: 0.3em; color: #ffae00;">Transport</a>
        <ul class="vertical menu">
          <li>
            <a href="#"><span class="label warning">Administracion</span></a>
            <ul class="nested vertical menu">
              <li class="{% if request.resolver_match.url_name == 'index-admin' %}activeli{% endif %}">
                <a href="" style="color: white;">Administracion</a>
              </li>
              <li class="{% if request.resolver_match.url_name == 'user-lista' %}activeli{% endif %}">
                <a href="{% url 'users_app:user-lista' %}" style="color: white;">Usuarios</a>
              </li>
            </ul>
          </li>
        </ul>

        <ul class="vertical menu">
          <li>
            <a href="#"><span class="label warning">Vuelos</span></a>
            <ul class="nested vertical menu">
              <li class="{% if request.resolver_match.url_name == 'producto-lista' %}activeli{% endif %}">
                <a href="{% url 'persona_app:persona_add' %}" style="color: white;">Agregar vuelo</a>
              </li>
            </ul>

            <ul class="nested vertical menu">
              <li class="{% if request.resolver_match.url_name == 'producto-lista' %}activeli{% endif %}">
                <a href="" style="color: white;"> Ver vuelos</a>
              </li>
            </ul>
          </li>
      </ul> 

        <ul class="vertical menu">
            <li>
              <a href="#"><span class="label warning">Reportes</span></a>
              <ul class="nested vertical menu">
                <li class="{% if request.resolver_match.url_name == 'producto-lista' %}activeli{% endif %}">
                  <a href="{% url 'home_app:reporte_vuelos' %}" style="color: white;">Vuelos por avion</a>
                </li>
              </ul>

              <ul class="nested vertical menu">
                <li class="{% if request.resolver_match.url_name == 'producto-lista' %}activeli{% endif %}">
                  <a href="{% url 'home_app:reporte_horarios' %}" style="color: white;"> Vuelos por horario</a>
                </li>
              </ul>

              <ul class="nested vertical menu">
                <li class="{% if request.resolver_match.url_name == 'producto-lista' %}activeli{% endif %}">
                  <a href="{% url 'home_app:reporte_pasajeros' %}" style="color: white;">Pasajeros por Vuelo </a>
                </li>
              </ul>
            </li>
        </ul> 
       
      </div>
    </div>

    <div class="off-canvas-content" data-off-canvas-content>
      <!-- declaramos un nuevo bloque para contenidod e panel -->
      <div class="grid-x">
        <div class="cell top-bar" style="background-color: #424242;">
          <div class="top-bar-left">
            <h4 style="color: white;">Sesion de: {{ user.full_name }}</h4>
          </div>
          <div class="top-bar-right">
            <a href="{% url 'users_app:user-logout' %}">
              <span class="label warning">Salir</span>
            </a>
          </div>
        </div>
      </div>
      <div class="grid-container" style="padding: 1em;">
        {% block panel-content %}
        {% endblock panel-content %}
      </div>
  </div>
</div>
{% endblock content %}